.container {
  width: 100vw; /* viewport with*/
  min-height: 100vh; /*viewportr height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn {
  padding: 20px;
  background-color: bisque;
  border-radius: 15px;
}

.btn:hover {
  background-color: rgb(159, 122, 76);
}
h1 {
  background-color: white;
}
