@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");

/* Değişkenlerin tanımlanması */
:root {
  /* Asıl renklerin koyu tonları */
  --mavi-1: hsl(205, 86%, 17%);
  --mavi-2: hsl(205, 77%, 27%);
  --mavi-3: hsl(205, 72%, 37%);
  --mavi-4: hsl(205, 63%, 48%);
  --mavi-5: hsl(205, 78%, 60%);

  /* asıl renklerin açık tonları */
  --mavi-6: hsl(205, 89%, 70%);
  --mavi-7: hsl(205, 90%, 76%);
  --mavi-8: hsl(205, 86%, 81%);
  --mavi-9: hsl(205, 90%, 88%);
  --mavi-10: hsl(205, 100%, 96%);
  --mavi-11: hsl(206, 3%, 95%);

  /* Başlıklar için kullanılan koyu tonlar */
  --gri-1: hsl(209, 61%, 16%);
  --gri-2: hsl(211, 39%, 23%);
  --gri-3: hsl(209, 34%, 30%);
  --gri-4: hsl(209, 28%, 39%);

  /* Paragraflar için kullanılılan renkler */
  --gri-5: hsl(210, 22%, 49%);
  --gri-6: hsl(209, 23%, 60%);
  --gri-7: hsl(211, 27%, 70%);
  --gri-8: hsl(210, 31%, 80%);
  --gri-9: hsl(212, 33%, 89%);
  --gri-10: hsl(210, 36%, 96%);
  --beyaz: #fff;
  --koyu-kırmızı: hsl(360, 67%, 44%);
  --açık-kırmızı: hsl(360, 71%, 66%);
  --koyu-yeşil: hsl(125, 67%, 44%);
  --açık-yeşil: hsl(125, 71%, 66%);
  --siyah: #222;
  --koyu-gölge: 0px 0px 15px rgba(0, 0, 0, 0.4);
  --açık-gölge: 0px 5px 15px rgba(0, 0, 0, 0.1);
  --ff-roboto: "Roboto", sans-serif;
  --ff-opensans: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-opensans);
  background: var(--gri-10);
  color: var(--gri-1);
  font-size: 15px;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 15px;
  color: var(--mavi-3);
}

/* // Medya sorgusu */
@media screen and (min-width: 800px) {
  h2 {
    font-size: 50px;
  }
  h4 {
    font-size: 20px;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.başlık {
  text-align: center;
  margin-bottom: 50px;
}
.alt-çizgi {
  width: 50px;
  height: 5px;
  background-color: var(--mavi-4);
  margin: 0 auto;
  margin-top: 10px;
}
.container {
  width: 80vw;
  max-width: 600px;
}

.yorum {
  text-align: center;
  background-color: white;
  box-shadow: var(--koyu-gölge);
  border: 1px solid white;
}

.img-container {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 50px;
  margin-top: 50px;
}
.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -2px;
  right: -10px;
  background-color: var(--mavi-6);
  border-radius: 50%;
}

#kisi-resim {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}

#aciklama {
  margin-bottom: 0.75rem;
}

#yazar {
  margin-bottom: 10px;
}
#meslek {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--mavi-6);
  font-size: 12px;
}

#açıklama {
  margin-bottom: 15px;
  color: var(--gri-5);
}

.geri-btn,
.ileri-btn {
  font-size: 18px;
  color: var(--mavi-7);
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin: 0 10px;
}
.geri-btn:hover,
.ileri-btn:hover {
  color: var(--mavi-4);
}
.rasgele-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--mavi-10);
  border-color: var(--mavi-5);
  border-radius: 5px;
  color: var(--mavi-5);
  padding: 5px 10px;
  letter-spacing: 2px;
}
.rasgele-btn:hover {
  background-color: var(--mavi-4);
  color: white;
}
